html {
  background-color: white;
}

body,
nav,
div,
section {
  background-color: #fffdfa;
}

body {
  margin: 0% 1%;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
  font-size: 16px;
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 10%;
  justify-content: space-evenly;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  /* TEMP */
  border-bottom: 1px;
  border-color: black;
  border-bottom-style: solid;
}

.nav-section,
.header-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1%;
  height: 100%;
}

.header-section {
  justify-content: center;
}

.nav-section {
  justify-content: end;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  align-self: flex-start;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.about-section {
  position: relative;
}
